body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 20px;
  direction: ltr;
  text-align: left;
}

.form-container {
  max-width: 800px;
  margin: auto;
  background: #2c2c2c;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.05);
}

h2 {
  text-align: center;
  color: #cfd8dc;
  margin-bottom: 20px;
}
h3{
  text-align: left;
}

.section {
  margin-bottom: 40px;
}

.section h3 {
  color: #90caf9;
  margin-bottom: 15px;
  font-size: 18px;
  
}

.field {
  position: relative;
  margin-bottom: 24px;
}

.field input {
  width: 100%;
  padding: 16px 12px 12px;
  font-size: 16px;
  border: 1.5px solid #555;
  border-radius: 10px;
  background-color: #3a3a3a;
  color: #eee;
  outline: none;
  transition: 0.3s ease;
}

.field input:focus {
  border-color: #64b5f6;
  background-color: #424242;
  box-shadow: 0 0 6px rgba(100, 181, 246, 0.4);
}

.field label {
  position: absolute;
  top: 14px;
  left:  14px;
  color: #aaa;
  font-size: 15px;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: #2c2c2c;
  padding: 0 6px;
  
}

.field input:focus + label,
.field input:valid + label {
  top: -10px;
  left: 10px;
  font-size: 13px;
  color: #64b5f6;
  
}
@media(max-width=600px){
  .form-container{
    padding: 20px 15px;
  }
}

.submit-button {
  background-color: #296290;
  color: #beb6b6;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 17px;
  display: block;
  margin: auto;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #041b2d;
}